<% include partials/header %>
<link rel="stylesheet" href="css/styles.css">
<h1>Scenario Created!</h1>

<h2>Next Steps:</h2>

<form action="/" method="GET">
    <button>Go Home</button>
</form>

<br>

<form action="/states" method="GET">
    <button>Create New Scenario</button>
</form>

<form action="/export" method="GET">
    <button>Export Templates</button>
</form>

<% include partials/footer %>