<% include partials/header %>
<link rel="stylesheet" href="css/styles.css">
<h1>Simulation scenario template v6.0</h1>





<table>
    <tr>
        <th>Title:          </th>
        <td>         </td>
        <th>Case Number</th>

    </tr>
    <tr>
        <th>Brief description:</th>

    </tr>
    <tr>
        <th>Target learners:</th>

    </tr>
    <tr>
        <th>Operational setting:</th>

    </tr>
    <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
    </tr>
</table>

<br>




<form action="/" method="GET">
    <button>Go Home</button>
</form>


<% include partials/footer %>