<% include partials/header %>

    <h1>Welcome to the CSBL Simulation Scenario Generator!</h1>

    <form action="/goToGen" method="POST">
        <button>Generate New Scenario</button>
    </form>


<% include partials/footer %>